.ui-page {
		/*background: linear-gradient(to bottom right, #c3eee4 0%, #fff9d4 100%) !important;*/
    background: #fffdf0 !important;
	}

.ui-page .ui-header {
    background: #c3eee4 !important;
    text-shadow:0 0 0 !important;
    box-shadow: none !important;
}

.ui-page .ui-footer {
    background: #fffdf0 !important;
		border: none !important;
}

#start {
	/*height: 30px;
	font-size: 20px !important;*/
	background-color: #ff8652;
	color: white;
	text-shadow:0 0 0 !important;
}

.imgcontainer {
  text-align: center;
}

#avatar {
  width: 25%;
  height: 50%;
}

.ui-block-a .center-wrapper .recipe-pic {
  width: 50%;
  height: 50%;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}

.center-wrapper {
	text-align: center;
}
.selected {
	color: white;
	background: blue;
}

.find {
  width: 100%;
  position: fixed;
  bottom: 20px;
  text-align: center;
  padding-top: 10px;
}
* {
  box-sizing: border-box;
}
/* Float four columns side by side */
.column {
  float: center;
  width: 25%;
  padding: 0 5px;

}

.row {
      margin: 0 -5px;
      height: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 50%;
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
    height: 50%;
  }
}

/* Style the counter cards */
.card {
  padding: 10px;
  text-align: center;
  background-color: #fffdf0;
  color: black;
  display: inline-block;
  height: 170px;
}

.fa {font-size:50px;}
#footer {
  position:fixed;
  bottom:0;
  z-index:100;
}
