.imgcontainer {
  text-align: center;
}

#avatar {
  width: 25%;
  height: 50%;
}

#achievment {
  text-align: center;
  
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}

.center-wrapper {
	text-align: center;
}
.selected {
	color: white;
	background: blue;
}

.find {
  width: 100%;
  position: fixed;
  bottom: 20px;
  text-align: center;
  padding-top: 10px;
}
