.ui-page {
		/*background: linear-gradient(to bottom right, #c3eee4 0%, #fff9d4 100%) !important;*/
    background: #fffdf0 !important;
	}

.ui-page .ui-header {
    background: #c3eee4 !important;
    text-shadow:0 0 0 !important;
    box-shadow: none !important;
}

.imgcontainer {
  text-align: center;
}

#avatar {
  width: 25%;
  height: 50%;
}

#achievment {
  text-align: center;

}

.container {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}

.center-wrapper {
	text-align: center;
}
.selected {
	color: white;
	background: blue;
}

.find {
  width: 100%;
  position: fixed;
  bottom: 20px;
  text-align: center;
  padding-top: 10px;
}
