#search {
	margin-right: 40px;
}

.ui-page .ui-header {
    background: #c3eee4 !important;
    text-shadow:0 0 0 !important;
    box-shadow: none !important;
}

.ui-page {
    background: #fffdf0 !important;
	}

.recipe-pic img{
	display: block;
	margin: auto;
}

.recipe-description{
	margin-top:10px;
}

.grid {
	margin-top:10px;
}

.center-wrapper {
	text-align: center;
}

.present-a {
	background-color: red;
	color: white;
}

.present-b {
	background-color: green;
	color: white;
}

.absent {
	text-decoration: line-through;
}
