.ui-page .ui-header {
    background: #c3eee4 !important;
    text-shadow:0 0 0 !important;
    box-shadow: none !important;
}

.ui-page {
    background: #fffdf0 !important;
	}

.recipe-block {
	border: solid;
	background: #fcf7f3;
}

.recipe-description{
	margin-top:10px;
}

.grid {
	margin-top:10px;
}

.center-wrapper {
	text-align: center;
}

.selected {
	background-color: #008CBA !important;
	color: white !important;
}

.recipe-block {
	border-radius: 24px;
}